*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    min-height: 100vh;
    background-color: #F5EFFF;
    background-size: cover;
    background-repeat: no-repeat;
}
.taskbar {
    width: 100%;
    height: 6.063rem;
    position: sticky;
    z-index: 10;
    background-color: #F5EFFF;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(340deg, #CDC1FF 70%,#A294F9 75%);
    
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a{
    padding-right: 30px;
    padding-right: 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color:black
}

.logo{
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-left: 20px;
}
nav li:first-child{
    margin-right: auto;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    
}
.slides img{
   
    position: absolute;
    object-fit: cover;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
}
.container h2{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: fixed;
    background-color: #CDC1FF;
    padding: 15px;
    border-radius: 15px;
    top: 50%;
    left: 99%;
    transform: translate(-50%, -50%);
}
.slides h2{
    text-align: center;
    font-size: 3rem;
    font-weight:bolder;
    margin-top:450px;
    color: #ffffff;

}

marquee{

    display: flex;
    padding: 15px;
    background-color: #CDC1FF;

}
marquee ul{
    display: flex;
    list-style: none;
    gap: 100px;
}


.greatness{
    padding-left:20rem;
    padding-top: 7.438rem;
    padding-bottom: 7.5rem;
  }

.greatness h2{
    font-size:60px;
}
.greatness span{
    color: #6246ea;
    font-family: "Noto Serif", serif;
    font-size: 60px;
}

.greatness p{
    padding-left: 10px;
    font-size: 24px;
}

.greatness img{
    float: right;
    padding-right:20rem;
}



.leadership{
    
    padding-top: 10rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;

}
.leadership h2{
    font-size:60px;
    
}
.leadership span{
    color: #6246ea;
    font-family: "Noto Serif", serif;
    font-size: 60px;
}

.card-con{
    display: flex;
    gap: 9.25rem;
    align-items: center;
    justify-content: center;
    padding-top: 7.438rem;
}

.placeholder{
    width: 20.563rem;
    height: 34rem;
    background-color: #CDC1FF;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}
.placeholder img{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-radius: 1.25rem;

}
.placeholder2{
    width: 20.563rem;
    height: 34rem;
    background-color: #CDC1FF;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}
.placeholder2 img{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-radius: 20px;
}
.placeholder3{
    width: 20.563rem;
    height: 34rem;
    background-color: #CDC1FF;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}
.placeholder3 img{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-radius: 1.25rem;

}

.aboutsvm{
    padding-top: 4rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CDC1FF;
    margin-top:7.438rem;
}
.aboutsvm h2{
    font-family: "Noto Serif", serif;
    font-size: 60px;
    align-items: center;
    color: black;
}
.aboutsvm__text{
    display: flex;
    align-items: center;
    justify-items: center;
    padding-bottom: 4rem;
    padding-left: 25rem;
    gap: 11.875rem;
    background-color: #CDC1FF;

}
.aboutsvm__text h1{
    font-size: 40;
    font-family: "Inter", sans-serif;
    color: black;
}
.authorities{
    padding-top: 7.438rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
}
.authorities h2{
    font-size: 60px;
    color: black;
}
.authorities span{
    color: #6246ea;
}

.authorities_img{
    height: 250px;
    margin:auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow:  hidden;
    margin-bottom: 75px;
}
.slider{
    display: flex;
    width: calc(250px * 12);
    animation: scroll 40s linear infinite;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px *6));
    }
    
}
.authorities_img_slider{
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.authorities_img_slider img{
    transition: 1s;
}
.authorities_img_slider img:hover{
    transform: translateZ(20px);
}
.authorities_img_slider::before,
.authorities_img_slider::after{
    background:linear-gradient(to right,#F5EFFF 0%,
    rgba(255,255,255,0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.authorities_img_slider::before{
    left:0;
    top: 0;
}
.authorities_img_slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

iframe{
    width: 100%;
    
}
.branchestext{
    display: flex;
    justify-content: center;
}
.branchestext{
    font-family: "Noto Serif", serif;
    font-size: 40px;
    color: black;
    background-color: #CDC1FF;
}
.map{
    padding-bottom: 7rem;
}