*{
    margin: 0;
    padding: 0;
    box-sizing: no-repeat;
    font-family: "inter", sans-serif;
}
body{
    min-height: 100vh;
    background-color:#F5EFFF;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    
}
.taskbar {
    width: 100%;
    height: 6.063rem;
    position: sticky; /* or fixed if you want it sticky */
    z-index: 10;
    background-color: #FBFBFF;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#8f87f1);
    
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a{
    padding-right: 20px;
    padding-right: 20px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color:black
}

.logo{
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-left: 20px;
}
nav li:first-child{
    margin-right: auto;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    
}
.slides img{
   
    position: absolute;
    object-fit: cover;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
}
.container h2{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: fixed;
    background-color: #C68EFD;
    padding: 15px;
    border-radius: 15px;
    top: 50%;
    left: 99%;
    transform: translate(-50%, -50%);
}
section {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: auto;
}
.aboutus{
    padding-top: 7.438rem;
    padding-bottom: 7.5rem;

}
.aboutus h2{
    display:flex;
    justify-content: center;
    gap: 10px;
     font-family: "Noto Serif", serif;
    font-size: 60px;
}
.aboutus span{
    color: #5409DA;
    font-weight: 900;
    font-family: "Noto Serif", serif;
    font-size: 60px;
}
.aboutp {
    display: flex;
    padding-top: 3rem;
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 24px;


}
.mission {
    padding-bottom: 7.5rem;
}
.mission h2{
     display:flex;
    justify-content: center;
    gap: 10px;
     font-family: "Noto Serif", serif;
    font-size: 60px
}
.mission span{
     color: #5409DA;
    font-weight: 900;
    font-family: "Noto Serif", serif;
    font-size: 60px;
}
.missionp {
     display: flex;
    padding-top: 3rem;
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 24px;

}
.choose{
     padding-bottom: 7.5rem;
}
.choose h2{
    display:flex;
    justify-content: center;
    gap: 10px;
     font-family: "Noto Serif", serif;
    font-size: 60px
}
.choose span{
    color: #5409DA;
    font-weight: 900;
    font-family: "Noto Serif", serif;
    font-size: 60px;
}
.choosep {
    padding-top: 3rem;
    margin-left: 22rem;
    margin-right: 20rem;
    font-size: 24px;
}
.legacy{
     padding-bottom: 7.5rem;
}
.legacy h2{
    display:flex;
    justify-content: center;
    gap: 10px;
     font-family: "Noto Serif", serif;
    font-size: 60px
}
.legacy span{
     color: #5409DA;
    font-weight: 900;
    font-family: "Noto Serif", serif;
    font-size: 60px;
}
.legacyp {
    list-style-type: disc;
    padding-top: 3rem;
    margin-left: 22rem;
    margin-right: 20rem;
    font-size: 24px;
}
.legacyy ul{
    padding-top: 1rem;
    padding-left: 2rem;
    margin-left: 2rem;
    margin-right: 30rem;
    font-size: 24px;
}
.initistives {
     padding-bottom: 7.5rem;
}
.initistives h2{
    display:flex;
    justify-content: center;
    gap: 10px;
     font-family: "Noto Serif", serif;
    font-size: 60px
}
.initistives span{
    color: #5409DA;
    font-weight: 900;
    font-family: "Noto Serif", serif;
    font-size: 60px;
}
.initistivess {
     padding-top: 1rem;
    padding-left: 5rem;
    margin-left: 19rem;
    margin-right: 30rem;
    font-size: 24px;
}
.joinus {
      padding-bottom: 7.5rem;
}
.joinus h2{
    display:flex;
    justify-content: center;
    gap: 10px;
     font-family: "Noto Serif", serif;
    font-size: 60px
}
.joinus span{
    color: #5409DA;
    font-weight: 900;
    font-family: "Noto Serif", serif;
    font-size: 60px;
}
.joinuss {
    padding-top: 3rem;
    margin-left: 25rem;
    margin-right: 20rem;
    font-size: 24px;
}