*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    min-height: 100vh;
    background-color: #FED2E2;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.taskbar {
    width: 100%;
    height: 6.063rem;
    position: sticky;
    z-index: 10;
    background-color: #FBFBFB;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#8F87F1);
    
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a{
    padding-right: 40px;
    text-decoration: none;
    font-weight: 600;
    display:flex;
    align-items: center;
    color:black
}

.logo{
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-left: 20px;
}
.taskbar li:first-child{
    margin-right: auto;
}

.slidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #e8f9ff4f;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 50px;
    padding: 50px;
}
.slidebar li{
    list-style: none;
    
}
.slidebar a{
    padding: 15px;
    width: 100%;
    transition: 1s;
}
@media(max-width:800px) {
    .hideOnMobile{
        display: none;
    }
}
@media(max-width:400px){
    .slidebar{
        width: 100%;
    }
}
.container{
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    
}
.slides img{
   
    position: absolute;
    object-fit: cover;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
}
.container h2{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: fixed;
    background-color: #C68EFD;
    padding: 15px;
    border-radius: 15px;
    top: 50%;
    left: 99%;
    transform: translate(-50%, -50%);
}
marquee{

    display: flex;
    padding: 15px;
    background-color: #8F87F1;

}
marquee ul{
    display: flex;
    list-style: none;
    gap: 100px;
}


.greatness{
    padding-left:20rem;
    padding-top: 7.438rem;
    padding-bottom: 7.5rem;
  }

.greatness h2{
    font-size:60px;
}
.greatness span{
    color: #5409DA;
    font-weight: 900;
    font-family: "Noto Serif", serif;
    font-size: 60px;
}

.greatness p{
    padding-left: 10px;
    font-size: 24px;
}

.greatness img{
    float: right;
    padding-right:20rem;
}



.leadership{
    
    padding-top: 10rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;

}
.leadership h2{
    font-size:60px;
    
}
.leadership span{
    color: #5409DA;
    font-weight: 900;
    font-family: "Noto Serif", serif;
    font-size: 60px;
}

.card-con{
    display: flex;
    gap: 9.25rem;
    align-items: center;
    justify-content: center;
    padding-top: 7.438rem;
    transition: 2s;
}

.placeholder{
    width: 20.563rem;
    height: 34rem;
    background-color: #E9A5F1;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    transition: 2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.placeholder:hover{
    transform: scale(1.2);
    background-color: #E8F9FF;
    z-index: 2;
}
.placeholder img{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-radius: 1.25rem;
    
}
.placeholder2{
    width: 20.563rem;
    height: 34rem;
    background-color: #E9A5F1;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    transition: 2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.placeholder2:hover{
    transform: scale(1.2);
    background-color: #E8F9FF;
    z-index: 2;
}
.placeholder2 img{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-radius: 20px;
}
.placeholder3{
    width: 20.563rem;
    height: 34rem;
    background-color: #E9A5F1;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    transition: 2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.placeholder3:hover{
    transform: scale(1.2);
    background-color: #E8F9FF;
    z-index: 2;
}
.placeholder3 img{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-radius: 1.25rem;

}

.aboutsvm{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C68EFD;
    margin-top:7.438rem;
}
.aboutsvm h2{
    font-family: "Noto Serif", serif;
    font-size: 60px;
    align-items: center;
    color: white;
}
.aboutsvm__text{
    display: flex;
    align-items: center;
    justify-items: center;
    padding-bottom: 4rem;
    padding-left: 25rem;
    gap: 11.875rem;
    background-color: #C68EFD;

}
.aboutsvm__text h1{
    display: flex;
    font-size: 40;
    font-family: "Inter", sans-serif;
    color: white;
}
.authorities{
    padding-top: 7.438rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
}
.authorities h2{
    font-size: 60px;
    color: black;
}
.authorities span{
    color: #5409DA;
    font-weight: 900;
}

.authorities_img{
    height: 250px;
    margin:auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow:  hidden;
    margin-bottom: 135px;
    
}
.slider{
    display: flex;
    width: calc(250px * 12);
    animation: scroll 40s linear infinite;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px *6));
    }
    
}
.authorities_img_slider{
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.authorities_img_slider img{
    transition: 1s;
}
.authorities_img_slider img:hover{
    transform: translateZ(20px);
}
.authorities_img_slider::before,
.authorities_img_slider::after{
    background:linear-gradient(to right,10%,
    rgba(255,255,255,0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.authorities_img_slider::before{
    left:0;
    top: 0;
}
.authorities_img_slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

iframe{
    width: 100%;
    
}
.branchestext{
    display: flex;
    justify-content: center;
}
.branchestext{
    font-family: "Noto Serif", serif;
    font-size: 40px;
    padding-top:30px;
    padding-bottom:30px;
    color: white;
    background-color: #C68EFD;
}
.map{
    padding-bottom: 10rem;
}

.graduates{
    
    padding-bottom: 4rem;
    display: flex;
    justify-content:center;

}
.graduates h2{
    font-family: "Noto Serif", serif;
    font-size: 60px; 
}
.graduates span{
    color: #5409DA;
    font-weight: 900;
}

.graduates_img{
    display: flex;
    justify-content: center;
    gap: 9.25rem;
    padding: 15px;
    margin-bottom: 4rem;
   
}
.graduates_img img{
    gap: 9.25rem;
    transition: 2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.25rem;
    object-fit: cover; 
}
.graduates_img img:hover{
    transform: scale(1.2);
    background-color: #E8F9FF;
    z-index: 2;
}